# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

*.pro
*.user
*.sh
*.ini
*.autosave
*.qmake.stash
*.stash
code/
code
reps/
shadow_mapping
shadow_mapping_advanced
shadow_mapping_pcf
shadow_mapping_cascade
shadow_mapping_cascade_horizontal
shadow_mapping_cascade_horizontal_and_vertical
shadow_mapping_cascade_advanced
shadow_mapping_cascade_texture_array
shadow_mapping_sESM
shadow_mapping_sESM1
shadow_mapping_sESM2
shadow_mapping_with_dof
variance_shadow_mapping
variance_shadow_mapping_EVSM
variance_shadow_mapping_EVSM2
variance_shadow_mapping_EVSM4
variance_shadow_mapping_MSM
variance_shadow_mapping_MSM2
variance_shadow_mapping_MSM4
Makefile

# Other Stuff
**/reps/
reps/
**/*.sh
Tests/freeglut.dll
Tests/glut.dll
Tests/glut32.dll
Tests/html/
docs/
reps/
Tests/reps/
*.pro
*.user
*.cfg
*.ini
Tests/Makefile
*.exe
Tests/test_im*
Tests/test_shadows
Tests/test_teapot
Tests/test_matrix_stack
Tests/test_im
Tests/test_sdf
glImmediateMode.h
obj.h
Sdf/
screenshots/frustum_section_radius.png







